.recipe-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-size: cover;
    flex-wrap: wrap;
    width: 97vw;
}

#recipe .card {
    padding: 12px;
}

#recipe img {
    height: 180px;
}

#recipe .card-title {
    font-size: 14px;
}